/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Eina01W01", sans-serif;
  color: #000000;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  margin: 0;
  font-size: 24px;
  color: #00338d;
  font-weight: bold;
}

p {
  color: #6d6d6d;
  margin: 0;
}
header {
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 25px 30px 0 15px;
}
.container {
  padding: 20px 0;
  background-color: #f6f6f680;
}
.wrapper {
  margin: 0 auto;
  width: 375px;
  box-shadow: 0px 2px 4px rgba(52, 52, 52, 0.05);
  background-color: #ffffff;
}
.subheadig {
  font-size: 14px;
  padding-top: 12px;
}
/* Product Section */
.product {
  text-align: center;
}
.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #f6f6f680;
}
.product-item {
  margin-bottom: 25px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(52, 52, 52, 0.05);
}
.product-item:nth-child(2) .discount,
.product-item:nth-child(4) .discount {
  visibility: hidden;
}
.product-item:nth-child(n + 4) {
  display: none;
}
.image-container {
  display: grid;
  position: relative;
  grid-template-areas: "button";
}
.product-image {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 375px;
}
.discount {
  grid-area: button;
  justify-self: end;
  align-self: start;
  position: relative;
  width: 185px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  background-color: #ff6f6f;
  cursor: pointer;
}
.discount::before {
  content: "";
  position: absolute;
  margin-left: 4px;
  margin-right: 4px;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0.5px;
  background-color: #d48d8d;
}
.discount-text {
  font-family: "Eina01W01", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  color: #00338d;
  margin-left: 12px;
  margin-top: 4px;
}

.product-rating,
.price {
  display: flex;
  margin: 7px 12px;
}
.rating {
  padding: 5px 8px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  background-color: #e7e7e780;
}
.rating-text {
  margin-left: 4px;
  color: #000000;
  font-weight: 600;
}

.product-text {
  display: flex;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 400;
}
.current-price {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.price {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  font-size: 20px;
  font-weight: bold;
}

.old-price {
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
  color: #888888;
}
.product-highlights-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.highlights-list {
  display: flex;
  flex-direction: row;
}
.product-highlights {
  font-size: 12px;
  color: #454545;
}
.highlights-item {
  padding: 7px 12px;
  display: flex;
  justify-content: space-between;
}
.product-highlights {
  padding-left: 1px;
}
.availability {
  display: flex;
  padding: 0 0 12px 12px;
  font-size: 14px;
  font-weight: 600;
  color: #0068ff;
}
.add-to-cart {
  width: 331px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: #00338d;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.icon-cart {
  margin-right: 4px;
}
.icon-more {
  margin-left: 4px;
}

/* Load More Section */
#load-more {
  text-align: center;
  padding: 20px 0px 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(52, 52, 52, 0.05);
}

.load-more-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 331px;
  height: 48px;
  background-color: #ffffff;
  color: #0068ff;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* Media Queries for Specific Breakpoints */

/* Desktop - 1440px */
@media (min-width: 1440px) {
  header {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  h1 {
    font-size: 28px;
  }

  .container {
    padding: 30px;
    background-color: #ffffff;
  }
  .wrapper {
    padding: 100px;
    width: 1440px;
    background-color: #f6f6f680;
  }
  .subheadig {
    font-size: 16px;
  }
  .product {
    display: flex;
    flex-direction: column;
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .product-item {
    position: relative;
    display: block !important;
    max-width: 379px;
    object-fit: cover;
    background-color: #f6f6f680;
    box-shadow: none;
  }

  .product-item:hover .add-to-cart,
  .product-item:focus .add-to-cart {
    opacity: 1;
    pointer-events: auto;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 20px 20px -1px #ebf7ff80;
  }
  .product-item:hover h2,
  .product-item:focus h2 {
    color: #0068ff;
  }
  .product-item:focus .product-overlay,
  .product-item:hover .product-overlay {
    background-color: #ebf7ff80;
  }
  .product-image {
    width: 379px;
    height: 379px;
  }

  .rating {
    padding: 6px;
    display: flex;
    justify-content: center;
    border-radius: 30%;
    background-color: #e7e7e780;
  }

  .price {
    font-size: 28px;
  }

  .add-to-cart {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  #load-more {
    background-color: #f6f6f680;
    box-shadow: none;
  }

  .load-more-button {
    background-color: #f6f6f680;
  }
}
