/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Eina01W01", sans-serif;
  background-color: #f6f6f680;

  color: #000000;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  margin: 0;
  font-size: 24px;
  color: #00338d;
  font-weight: bold;
}
h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

p {
  color: #6d6d6d;
  margin: 0;
}
header {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 30px;
}
.container {
  margin: 0 auto;
  max-width: 375px;
  background-color: #ffffff;
}
.subheadig {
  font-size: 14px;
  padding-top: 12px;
}
/* Product Section */
.product {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 25px; */
  margin: 0;
  padding: 0;
}
.product-item {
  box-shadow: 0px 2px 4px rgba(52, 52, 52, 0.05);
  margin-bottom: 25px;
}
.image-container {
  display: grid;
  position: relative;
  grid-template-areas: "button";
}
.product-image {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  max-height: 375px;
}
.discount {
  grid-area: button;
  justify-self: end;
  align-self: start;
  position: relative;
  width: 185px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  background-color: #ff6f6f;
  cursor: pointer;
}
.discount::before {
  content: "";
  position: absolute;
  margin-left: 4px;
  margin-right: 4px;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0.5px;
  background-color: #d48d8d;
}
.discount-text {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

h2 {
  font-size: 16px;
  color: #00338d;
  margin-left: 12px;
  margin-top: 4px;
}

.product-rating,
.price {
  display: flex;
  /* justify-content: center; */
  margin: 0;
  padding: 7px 12px;
}
.rating {
  padding: 4px;
  display: flex;
  justify-content: center;
  border-radius: 30%;
  background-color: #e7e7e780;
}
.rating-text {
  color: #000000;
  font-weight: 600;
}

.product-text {
  display: flex;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 400;
}
.current-price {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.price {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  font-size: 20px;
  font-weight: bold;
}

.old-price {
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
  color: #888888;
}
.product-highlights-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.highlights-list {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
}
.product-highlights {
  font-size: 12px;
  color: #454545;
}
.highlights-item {
  padding: 7px 12px;
  display: flex;
  justify-content: space-between;
}
.product-highlights {
  padding-left: 1px;
}
.availability {
  display: flex;
  padding: 0 0 12px 12px;
  font-size: 14px;
  font-weight: 600;
  color: #0068ff;
}
.add-to-cart {
  width: 331px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: #00338d;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.icon-cart {
  margin-right: 5px;
}

/* Load More Section */
#load-more {
  text-align: center;
  margin-top: 20px;
}

.load-more-button {
  background-color: #ebf7ff;
  color: #0068ff;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.icon-more {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Media Queries for Specific Breakpoints */

/* Desktop - 1440px */
@media (min-width: 1440px) {
  h1 {
    font-size: 28px;
  }

  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 1440px;
  }
  .subheadig {
    font-size: 16px;
  }
  .product {
    padding-top: 60px;
    padding-bottom: 60px;
    /* max-width: 379px;
    max-height: 379px; */
    /* margin: 40px auto; */
    /* display: flex;
    justify-content: space-around; */
    /* padding: 40px; */
  }

  .product-image {
    max-width: 379px;
    max-height: 379px;
  }

  h2 {
    font-size: 24px;
  }

  .price {
    font-size: 28px;
  }

  .add-to-cart {
    padding: 15px 30px;
    font-size: 18px;
  }
}

/* Mobile - 375px */
/* @media (max-width: 375px) {
  h1 {
    font-size: 20px;
  }

  header {
    padding: 20px;
  }

  .product {
    max-width: 375px;
    margin: 10px auto;
    padding: 15px;
  }

  h2 {
    font-size: 14px;
  }

  .price {
    font-size: 16px;
  }

  .add-to-cart {
    padding: 8px 15px;
    font-size: 12px;
  }

  .discount {
    font-size: 10px;
  }

  .load-more-button {
    padding: 8px 16px;
    font-size: 12px;
  }
} */
